* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body {
  background-color: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family:"Work Sans","Arial",sans-serif;
  font-weight: 300;

}

a {
  color: #2f9a2f ;
  font-weight: 400;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 10px;
}

header {
  background-image:linear-gradient(rgba(192, 107, 107, 0.3),rgb(0,0,0,.7)),url(../img/i30n_ital.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-box {
  margin-left: 20px;
  position: absolute; 
  top:40%;
  left:40%;
  text-align: center;
  /* transform: translate(-50%,-50%); */
}

/****** Header'y ******/

h1 {
  font-size: 500% ;
  color: #fff;;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  font-size: 200% ;
  color: #fff;;
  font-weight: 400;
}
.header-text-box {
  margin-bottom: 50px;
}

/****** Button'y'******/
.btn:link, 
.btn:visited {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 300px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #318031;
  color: #fff;
  transition: 0.5s;
}

.btn-full:hover,
.btn-full:active {
  background-color: #024b02;
}

.btn-ghost:link,
.btn-ghost:visited {
  border:2px solid #318031 ;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #318031;
  transition:0.5s ;
}

/******END OF BUTTON SECTION****** */

/******NAV*******/

.main-nav {
  list-style: none;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

.main-nav li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
 text-decoration:none ;
 color: #fff;
 font-weight: 400;
 transition:ease-in-out 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom:3px solid #318031 ;
}

.logo {
  height: 200px;
  width: auto;
  float: left;
  margin-left: 100px;
}

/****** ABOUT SECTION *******/

.v-img {
  width: 90%;
  height: auto;
  border-radius: 30%;
  float:right;
  margin-top: 50px;
}
.about-section {
  margin-bottom: 100px;
}


.about-heading {
  color: #000;
  font-size: 250%;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 50px;
}

.about-para {
  color: #000;
  margin-bottom: 50px;
}

.about-box {
  margin-top: 150px;
}

.about-box:first-child {
  text-align: left;
  padding:0 5% ;
}

.about-box:last-child {
  text-align: right;
}

/****** WORK SECTION *******/
.section-heading {
 font-size: 250%;
 color: #000;
 margin-bottom: 20px;
 margin-top:150px ;
}

.section-sub-heading {
 font-size:150%;
 color: rgb(44, 31, 15);
 font-weight: 300;
 margin-bottom: 30px;
}

.section-sub-heading:after {
 display: block;
 height: 2px;
 width: 100px;
 background-color:#318031;
 content: " ";
 margin: 30px auto 0 auto;
}

.work-section {
  text-align: center;
}

.work-portfolio {
  margin-top: 10px;
  list-style: none;
  width: 100%;
}
.work-portfolio li {
  display: block;
  width: 25%;
  float: left;
}

.work-para {
  color: #fff;
}

.portfolio-img {
 background-color: #000;
}

.portfolio-img img{
  width: 100%;
  height: auto;
  opacity: .7;
  transform: scale(0.9);
}

.portfolio-img img:hover {
  opacity:1;
  transform: scale(1);
  transition: 0.5s;
}

.line-container {
  height:100px;
  width: auto;
}


/* SLIDER */

.swiper {
  width: 60%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}



.contact-title {
  border-top: 1px solid #024b02;
  padding-top: 50px;
  letter-spacing: 1px;
  white-space:pre;
  text-align: center;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #000;
}

.contact-title h1 {
  font-size: 40px;
  line-height: 10px;
  color:#000;
}

.contact-title h2 {
  font-size: 25px;
  color:#000;
}

.contact-form{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
  background-color: rgba(226, 215, 215, 0.877);
}

form {
  margin-top: 5px;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #000;
  font: 300 ;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px ;
  background-color: #f44336;
}
form .submit {
  background: #024b02;
  border-color: transparent;
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  opacity: 0.7;
}

form .submit:hover {
  background-color: #2f9a2f;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

/* FOOTER */
footer {
  background-color: #333;
  position:static;
  color: #888;
  background-color:rgb(41, 37, 37) ;
  padding-bottom: 20px;
}

.footer-nav {
  margin-top: 10px;
  float: left;
}
.social-links {
  margin-top: 10px;
  float: right;
}

.footer-nav li{
 list-style: none;
 display: inline-block;
 margin-right: 30px;

}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  color: #fbfbfb;
  text-decoration: none;
  transition: rgba(75, 208, 31, 0.734) 0.3s ;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: rgba(28, 220, 73, 0.775);
  
}

.social-links li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
}

.fa-facebook-f:hover {
  color: #1877f2;
}

.fa-instagram:hover{
  color: #c32aa3;
}

/* colors of social media 
fb :#1877f2
ig: #c32aa3
*/